body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  .container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff4500;
  }
  
  .home-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  h1 {
    margin: 0;
  }
  
  h2 {
    color: #ff4500;
    margin: 20px 0;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .search-button {
    background-color: #ff6961;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .search-button:hover {
    background-color: #ff5c5c;
  }
  
  footer {
    margin-top: 20px;
  }
  
  .bus-image {
    width: 100%;
    border-radius: 10px;
  }
  